<Plugin "write_graphite">
  <Carbon>
    Host "{{ .carbon_host }}"
    Port "2003"
    #Prefix "collectd."
    #Postfix ""
    #Protocol "udp"
    EscapeCharacter "_"
    SeparateInstances true
    StoreRates false
    AlwaysAppendDS false
  </Carbon>
</Plugin>
