<Plugin "python">
  ModulePath "/opt/collectd-librato-0.0.10/lib"

  Import "collectd-librato"

  <Module "collectd-librato">
    Email    "{{ .collectd_librato_email }}"
    APIToken "{{ .collectd_librato_token }}"
  </Module>
</Plugin>
